<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>624730258014-q79gkieq2o95g0b0oetaaeai3mbdc4bd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.624730258014-q79gkieq2o95g0b0oetaaeai3mbdc4bd</string>
	<key>API_KEY</key>
	<string>AIzaSyBh6ZD7_vcit51mtmcyjoLhV_3fUhcKZT8</string>
	<key>GCM_SENDER_ID</key>
	<string>624730258014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.connecten.connecten</string>
	<key>PROJECT_ID</key>
	<string>connecten-ee236</string>
	<key>STORAGE_BUCKET</key>
	<string>connecten-ee236.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:624730258014:ios:c6513bfaccd2af6d45d2cf</string>
</dict>
</plist>